.containerDashboard {
  margin: 30px auto 0;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

.empty {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #999;
  font-size: bold;
  margin-top: 50px;
  height: 90px;
}

ul.spot-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

ul.spot-list li {
  display: flex;
  flex-direction: column;
}

ul.spot-list li header {
  width: 100%;
  height: 120px;
  background-size: cover;
  border-radius: 4px;
}

ul.spot-list li strong {
  margin-top: 10px;
  font-size: 18px;
  color: #444;
}





/* excluir */
ul.spot-list li p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.spot-list li p span {
  font-size: 14px;
  color: #999;
}




/* botões */
ul.spot-list li p button {
background: #fff;
right: 24px;
cursor: pointer;
border: 0;
}

ul.spot-list li p button:hover {
opacity: 0.8;
}





ul.notifications {
  list-style: none;
}

ul.notifications li {
  font-size: 14px;
  line-height: 24px;
}

ul.notifications li button {
  margin-right: 10px;
  border: 0;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

ul.notifications li buttonCancel {
  margin-right: 10px;
  border: 0;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

ul.notifications li button.accept {
  color: #84C870;
}

ul.notifications li button.reject {
  color: #E55E5E;
}

.btnNavegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: 0;
  border-radius: 2px;
  width: 250px;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #e14f50;
}