label#thumbnail {
    width: 100%;
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  label#thumbnail input {
    display: none;
  }
  
  label#thumbnail.has-thumbnail {
    border: 0;
    height: 300px;
  }
  
  label#thumbnail.has-thumbnail img {
    display: none;
  }